.content1{
    padding-top: 20px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid;
    background-color: lavender;
    padding-bottom: 20px;
}

.content1_info{
    width: 50%;
    padding: 50px;
    display: grid;
    align-content: center;
}

.info_Btn button{
    margin-top: 20px;
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

.info_Btn button:hover{
    box-shadow: 4px 4px #888888;
}

.content1_img{
    overflow: hidden;
    max-width: 40%;
    align-items: center;
    display: flex;
    border: 2px solid #888888;
    border-radius: 4rem;
}

.content1_img img{
    width: 100%;
    max-height: 600px;
    align-items: center;
    display: flex;
}