* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
}

#root {
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 12px 20px; 
    color: #fff; 
}

.brandName {
    font-size: 24px; 
    cursor: default;
}

.navBtn ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navBtn li {
    margin-right: 20px; 
}

.navBtn a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.navBtn a:hover {
    text-decoration: underline;
    color: black;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 4px 4px #888888;
}

